body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .about, .skills, .projects, .contact {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  /* Styling for header */
  header {
    background-color: #857979;
    color: #fff;
    padding: 20px;
  }
  
  /* Two-column layout for desktop views */
  .about, .skills, .projects, .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  /* Responsive layout for mobile devices */
  @media(max-width: 600px) {
    .about, .skills, .projects, .contact {
      grid-template-columns: 1fr;
    }
  }
  